[submodule "repos/cloud/dns"]
	path = repos/cloud/dns
	url = git@github.com:VolokzhaninVadim/dns.git
[submodule "repos/cloud/gitlab"]
	path = repos/cloud/gitlab
	url = git@github.com:VolokzhaninVadim/gitlab.git
	branch = main
[submodule "repos/cloud/private_cloud"]
	path = repos/cloud/private_cloud
	url = git@github.com:VolokzhaninVadim/private_cloud.git
[submodule "repos/media/media_server"]
	path = repos/media/media_server
	url = git@github.com:VolokzhaninVadim/media_server.git
[submodule "repos/cloud/private_library"]
	path = repos/cloud/private_library
	url = git@github.com:VolokzhaninVadim/private_library.git
