[submodule "repos/proxy/dns"]
	path = repos/proxy/dns
	url = git@github.com:VolokzhaninVadim/dns.git
	branch = main
[submodule "repos/proxy/npm"]
	path = repos/proxy/npm
	url = git@github.com:VolokzhaninVadim/npm.git
	branch = main
[submodule "repos/cloud/gitlab"]
	path = repos/cloud/gitlab
	url = git@github.com:VolokzhaninVadim/gitlab.git
	branch = main
[submodule "repos/cloud/private_cloud"]
	path = repos/cloud/private_cloud
	url = git@github.com:VolokzhaninVadim/private_cloud.git
	branch = main
[submodule "repos/media/media_server"]
	path = repos/media/media_server
	url = git@github.com:VolokzhaninVadim/media_server.git
	branch = main
[submodule "repos/cloud/private_library"]
	path = repos/cloud/private_library
	url = git@github.com:VolokzhaninVadim/private_library.git
	branch = main
[submodule "repos/cloud/docker_manager"]
	path = repos/cloud/docker_manager
	url = git@github.com:VolokzhaninVadim/docker_manager.git
	branch = main
[submodule "repos/cloud/airflow"]
	path = repos/cloud/airflow
	url = git@github.com:VolokzhaninVadim/airflow.git
[submodule "repos/cloud/notes"]
	path = repos/cloud/notes
	url = git@github.com:VolokzhaninVadim/notes.git
[submodule "repos/development/vscode_server"]
	path = repos/development/vscode_server
	url = git@github.com:VolokzhaninVadim/vscode_server.git
[submodule "repos/backup/duplicati"]
	path = repos/backup/duplicati
	url = git@github.com:VolokzhaninVadim/duplicati.git
[submodule "repos/dashboard/homarr"]
	path = repos/dashboard/homarr
	url = git@github.com:VolokzhaninVadim/homarr.git
