Sphinx>=8.2.3
sphinx-markdown-builder>=0.6.8
sphinx-togglebutton>=0.3.2
sphinx-rtd-theme>=3.0.2
myst-parser>=4.0.1
sphinx-markdown-tables>=0.0.17
sphinxcontrib-plantuml>=0.30
sphinx-math-dollar>=1.2.1